@use '../variableStyle' as variable;
@import '../responsiveStyle';
@import '../mixinStyle';

.container {
  @include displayFlex(row, center, center);

  .inner_container {
    width: $tabletSize;
    text-align: center;
    padding: 80px 0;
    font-size: 1.4rem;

    @include mobile {
      width: 100%;
      padding: 80px 30px;
    }

    @include tablet {
      width: 100%;
      padding: 80px 30px;
    }
  }
}