@use '../variableStyle' as variable;
@import '../mixinStyle';
@import '../responsiveStyle';

.container {
  height: 250px;
  background-color: variable.$backgroundColorDark;
  color: variable.$fontColorWhite;
  @include displayFlex(row, center, center);

  .inner_container {
    width: $tabletSize;
    @include displayFlex(row, space-between, center);

    @include mobile {
      width: 100%;
      padding: 0 30px;
      @include displayFlex(column, center, center);
      text-align: center;

      div {
        margin: 20px 0;
      }
    }

    @include tablet {
      width: 100%;
      padding: 0 30px;
    }
  }
}