@use '../variableStyle' as variable;
@import '../responsiveStyle';
@import '../mixinStyle';

.container {
  @include displayFlex(row, center, center);

  .greeting {
    width: $tabletSize;
    text-align: center;
    padding-top: 150px;

    :nth-child(1) {
      font-size: 2.5rem;
      margin-bottom: 35px;
    }

    :nth-child(2) {
      margin-top: 35px;
      font-size: 2.5rem;

      span {
        font-size: 3.5rem;
        color: variable.$fontColorRed;
        font-style: italic;
        border-bottom: 3px solid variable.$fontColorRed;

        @include mobile {
          font-size: 3rem;
        }
      }
    }
  }
}