$fontColorWhite: #FFFFFF;
$fontColorDark: #333333;
$fontColorLightDark: #444444;
$fontColorRed: #D90429;
$fontColorGrey: #B0B0B0;

$backgroundColorWhite: #FFFFFF;
$backgroundColorDark: #00071C;
$backgroundColorRed: #D90429;
$backgroundColorGrey: #B0B0B0;
$backgroundColorLightGrey: #E0E0E0;

$boxShadowColor: #E0E0E0;
$borderColorGrey: #EEEEEE;