@use './variableStyle' as variable;
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: 'Questrial';
}

main {
  min-height: calc(100vh - 60px); // 60px => Header Height
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: variable.$backgroundColorWhite;
  border: none;
  cursor: pointer;
}

/* Not show scroll bar, but make it work */
::-webkit-scrollbar {
  display: none;
}